In [9]:
import pandas
import csv
import numpy as np

In [28]:
file = "../Cleaned_NYC_Arrests.csv"
arrests_df = pd.read_csv(file)
arrests_df.head()

,Unnamed: 0,ARREST_DATE,PD_DESC,OFNS_DESC,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude
0,3,12/31/2017,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,25-44,M,WHITE,40.763523,-73.987074
1,4,12/31/2017,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,45-64,M,BLACK,40.759768,-73.989811
2,6,12/31/2017,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,18-24,F,WHITE HISPANIC,40.722199,-73.977122
3,8,12/31/2017,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,25-44,M,BLACK HISPANIC,40.787496,-73.949752
4,10,12/31/2017,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,25-44,M,WHITE HISPANIC,40.702840,-73.929467

In [29]:
file_2 = "../october_2014.csv"
october_2014 = pd.read_csv(file_2)
october_2014

,ARREST_DATE,PD_DESC,OFNS_DESC,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude
0,10/31/2014,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,25-44,M,WHITE HISPANIC,40.731668,-73.989415
1,10/31/2014,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,18-24,M,WHITE HISPANIC,40.864328,-73.868406
2,10/31/2014,"MURDER,UNCLASSIFIED",MURDER & NON-NEGL. MANSLAUGHTER,25-44,F,BLACK,40.671111,-73.913563
3,10/31/2014,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,18-24,F,BLACK,40.648867,-73.950822
4,10/31/2014,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,25-44,M,BLACK,40.717115,-73.920426
...,...,...,...,...,...,...,...,...
4491,10/1/2014,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,18-24,F,BLACK HISPANIC,40.816088,-73.895824
4492,10/1/2014,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,18-24,F,WHITE HISPANIC,40.691647,-73.865180
4493,10/1/2014,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,25-44,M,BLACK,40.836601,-73.889070
4494,10/1/2014,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,45-64,M,WHITE HISPANIC,40.626282,-73.962547
4495,10/1/2014,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,25-44,M,BLACK HISPANIC,40.649371,-73.960876

In [30]:
lats = october_2014["Latitude"]
lngs = october_2014["Longitude"]

0       40.731668
1       40.864328
2       40.671111
3       40.648867
4       40.717115
          ...
4491    40.816088
4492    40.691647
4493    40.836601
4494    40.626282
4495    40.649371
Name: Latitude, Length: 4496, dtype: float64

0      -73.989415
1      -73.868406
2      -73.913563
3      -73.950822
4      -73.920426
          ...
4491   -73.895824
4492   -73.865180
4493   -73.889070
4494   -73.962547
4495   -73.960876
Name: Longitude, Length: 4496, dtype: float64