In [1]:
import pandas as pd
import csv
import numpy as np
import datetime
import time
from scipy import stats
from matplotlib import pyplot as plt

In [30]:
lapdF = pd.read_csv("../crime_data/october_2017_LA_data.csv")
lapdF.head(50)

,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Weapon Desc,LAT,LON
0,10/22/2017,1400,Topanga,THEFT,NaN,34.1911,-118.5644
1,10/12/2017,900,West Valley,VANDALISM,NaN,34.2029,-118.5513
2,10/10/2017,1930,West Valley,ASSAULT,MACE/PEPPER SPRAY,34.1775,-118.5338
3,10/11/2017,1700,Harbor,VANDALISM,NaN,33.8613,-118.2962
4,10/3/2017,1050,Central,THEFT,NaN,34.0563,-118.2374
5,10/6/2017,800,Topanga,BURGLARY,NaN,34.1544,-118.6058
6,10/24/2017,30,Southwest,BRANDISH WEAPON,REVOLVER,34.0109,-118.3089
7,10/22/2017,145,N Hollywood,ROBBERY,HAND GUN,34.1427,-118.3908
8,10/16/2017,1850,West Valley,VIOLATION OF,NaN,34.1557,-118.4697
9,10/15/2017,1300,Hollenbeck,BURGLARY,NaN,34.0638,-118.1785
10,10/26/2017,2200,Harbor,BATTERY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",33.7958,-118.2975
11,10/29/2017,1138,Hollenbeck,BUNCO,NaN,34.0437,-118.2098
12,10/1/2017,1200,Topanga,UNAUTHORIZED COMPUTER ACCESS,NaN,34.1857,-118.5622
13,10/17/2017,1530,77th Street,VEHICLE,NaN,33.9747,-118.2739
14,10/21/2017,2345,Rampart,ROBBERY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.0569,-118.2689
15,10/23/2017,100,Olympic,CRIMINAL THREATS - NO WEAPON DISPLAYED,SIMULATED GUN,34.0817,-118.3080
16,10/8/2017,2100,Southwest,BATTERY,ROCK/THROWN OBJECT,34.0074,-118.2850
17,10/25/2017,730,Hollenbeck,CHILD,NaN,34.0457,-118.2180
18,10/9/2017,1430,Topanga,VANDALISM,NaN,34.1847,-118.5928
19,10/31/2017,230,Mission,ASSAULT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.2337,-118.4632
20,10/20/2017,1100,Newton,BURGLARY,NaN,34.0286,-118.2592
21,10/31/2017,1745,Hollenbeck,ASSAULT,UNKNOWN WEAPON/OTHER WEAPON,34.0243,-118.2198
22,10/19/2017,1600,N Hollywood,VEHICLE,NaN,34.1586,-118.3877
23,10/2/2017,1800,Southeast,BATTERY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",33.9433,-118.2462
24,10/7/2017,2200,Hollenbeck,ASSAULT,UNKNOWN WEAPON/OTHER WEAPON,34.0426,-118.2073
25,10/12/2017,100,Olympic,THEFT,NaN,34.0598,-118.3009
26,10/20/2017,1916,Van Nuys,SHOPLIFTING,NaN,34.1576,-118.4380
27,10/22/2017,5,Van Nuys,RAPE,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.1940,-118.4334
28,10/3/2017,200,Southeast,VEHICLE,NaN,33.9560,-118.2812
29,10/5/2017,1300,Hollywood,THEFT,NaN,34.1130,-118.3867
30,10/19/2017,345,Northeast,BURGLARY,NaN,34.1200,-118.1893
31,10/9/2017,555,77th Street,LEWD CONDUCT,NaN,33.9806,-118.3024
32,10/16/2017,2215,Hollenbeck,ASSAULT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.0781,-118.2181
33,10/7/2017,2200,Newton,VEHICLE,NaN,34.0030,-118.2499
34,10/13/2017,1630,Harbor,VANDALISM,NaN,33.7252,-118.2946
35,10/27/2017,1400,Southeast,VEHICLE,NaN,33.9266,-118.2604
36,10/11/2017,1035,Olympic,VANDALISM,NaN,34.0463,-118.2864
37,10/3/2017,1930,Hollenbeck,BURGLARY,NaN,34.0648,-118.2233
38,10/4/2017,1630,N Hollywood,BATTERY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.1813,-118.4052
39,10/30/2017,2230,Wilshire,THEFT,NaN,34.0623,-118.3471
40,10/1/2017,1,Hollenbeck,VANDALISM,UNKNOWN FIREARM,34.0831,-118.2086
41,10/15/2017,2230,Olympic,ROBBERY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.0636,-118.3047
42,10/12/2017,1700,Pacific,VANDALISM,NaN,33.9952,-118.4772
43,10/20/2017,2000,West Valley,ASSAULT,SEMI-AUTOMATIC PISTOL,34.1930,-118.5546
44,10/1/2017,200,Hollywood,BURGLARY,NaN,34.0930,-118.3046
45,10/16/2017,315,Hollywood,ROBBERY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.0987,-118.3337
46,10/6/2017,1800,77th Street,BURGLARY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",33.9829,-118.3309
47,10/6/2017,1600,Central,VANDALISM,NaN,34.0461,-118.2476
48,10/20/2017,2100,Van Nuys,ASSAULT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.1785,-118.4422
49,10/22/2017,1730,Southwest,BATTERY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",34.0324,-118.2776

In [21]:
#lapd = pd.read_csv("../crime_data/Crime_Data_from_2010_to_2019.csv")
arrests_df = pd.read_csv("../crime_data/NYPD_Arrests_Data__Historic_.csv")
#october_2014 = pd.read_csv("../crime_data/october_2014.csv")
#lapd2 = lapd

In [22]:
arrests_df.columns

Index(['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude'],
      dtype='object')

In [19]:
lapd['Status Desc']

0          Adult Arrest
1           Invest Cont
2           Invest Cont
3           Invest Cont
4           Invest Cont
               ...
2111674     Invest Cont
2111675     Invest Cont
2111676     Invest Cont
2111677     Invest Cont
2111678     Invest Cont
Name: Status Desc, Length: 2111679, dtype: object

In [118]:
lapd2['Crm Cd Desc'] = lapd['Crm Cd Desc'].replace({'VIOLATION OF COURT ORDER':'VIOLATION OF',
'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)':'VANDALISM', 'RAPE, ATTEMPTED':'RAPE',
'SHOPLIFTING - PETTY THEFT ($950 & UNDER)':'SHOPLIFTING','BURGLARY FROM VEHICLE':'BURGLARY',
'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT':'ASSAULT','THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD':'THEFT',
'BATTERY - SIMPLE ASSAULT':'BATTERY','CHILD NEGLECT (SEE 300 W.I.C.)':'CHILD','INTIMATE PARTNER - AGGRAVATED ASSAULT':'ASSAULT',
'INTIMATE PARTNER - SIMPLE ASSAULT':'ASSAULT','THEFT PLAIN - PETTY ($950 & UNDER)':'THEFT', 'ATTEMPTED ROBBERY':'ROBBERY',
'VANDALISM - MISDEAMEANOR ($399 OR UNDER)':'VANDALISM','RAPE, FORCIBLE':'RAPE','THROWING OBJECT AT MOVING VEHICLE':'VEHICLE',
'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)':'SHOPLIFTING','CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT':'CHILD',
'SHOTS FIRED AT INHABITED DWELLING':'SHOTS FIRED','THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)':'THEFT',
'VEHICLE - STOLEN':'VEHICLE','KIDNAPPING - GRAND ATTEMPT':'KIDNAPPING','THEFT PLAIN - ATTEMPT':'THEFT','THEFT, PERSON':'THEFT',
'VEHICLE - ATTEMPT STOLEN':'VEHICLE','BATTERY WITH SEXUAL CONTACT':'BATTERY','BATTERY POLICE (SIMPLE)':'BATTERY',
'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT':'CHILD','OTHER ASSAULT':'ASSAULT', 'VIOLATION OF RESTRAINING ORDER':'VIOLATION OF',
'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)':'CHILD','THEFT OF IDENTITY':'THEFT','ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER':'ASSAULT',
'CHILD ANNOYING (17YRS & UNDER)':'CHILD','SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH':'RAPE',
'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)':'THEFT','LETTERS, LEWD  -  TELEPHONE CALLS, LEWD':'LEWD CONDUCT',
'INDECENT EXPOSURE':'LEWD CONDUCT','BURGLARY FROM VEHICLE, ATTEMPTED':'BURGLARY','BURGLARY, ATTEMPTED':'BURGLARY',
'THREATENING PHONE CALLS/LETTERS':'CRIMINAL THREATS','SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ':'RAPE',                                                  
'BUNCO, PETTY THEFT':'BUNCO','VIOLATION OF TEMPORARY RESTRAINING ORDER':'VIOLATION OF','BUNCO, GRAND THEFT':'BUNCO',                                                   
'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)':'EMBEZZLEMENT','SEXUAL PENETRATION W/FOREIGN OBJECT':'RAPE','EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)':'EMBEZZLEMENT',                                                   
'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $400 & UNDER':'THEFT','CREDIT CARDS, FRAUD USE ($950.01 & OVER)':'FRAUD','DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $400':'THEFT',                                                  
'THEFT FROM PERSON - ATTEMPT':'THEFT','DRUNK ROLL - ATTEMPT':'DRUNK ROLL','SHOPLIFTING - ATTEMPT':'SHOPLIFTING',                                                   
'DISHONEST EMPLOYEE - GRAND THEFT':'THEFT','CREDIT CARDS, FRAUD USE ($950 & UNDER':'FRAUD','DOCUMENT WORTHLESS ($200.01 & OVER)':'DOCUMENT WORTHLESS',                                                   
'CHILD STEALING':'CHILD','THEFT FROM MOTOR VEHICLE - ATTEMPT':'THEFT', 'BATTERY ON A FIREFIGHTER':'BATTERY','THEFT, COIN MACHINE - PETTY ($950 & UNDER)':'THEFT',                                                  
'GRAND THEFT / INSURANCE FRAUD':'THEFT','BUNCO, ATTEMPT':'BUNCO','THEFT, COIN MACHINE - GRAND ($950.01 & OVER)':'THEFT',                                                   
'PURSE SNATCHING - ATTEMPT':'PURSE SNATCHING','SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT':'SHOTS FIRED','DISCHARGE FIREARMS/SHOTS FIRED':'SHOTS FIRED',                                                  
'CHILD ABANDONMENT':'CHILD','THEFT, COIN MACHINE - ATTEMPT':'THEFT','DISHONEST EMPLOYEE - PETTY THEFT':'THEFT','PETTY THEFT - AUTO REPAIR':'THEFT',                                                  
'TILL TAP - ATTEMPT':'TILL TAP','TILL TAP - PETTY ($950 & UNDER)':'TILL TAP','TILL TAP - GRAND THEFT ($950.01 & OVER)':'TILL TAP',                                                   
'DOCUMENT WORTHLESS ($200 & UNDER)':'DOCUMENT WORTHLESS','PICKPOCKET, ATTEMPT':'PICKPOCKET','GRAND THEFT / AUTO REPAIR':'THEFT',                                                   
'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS':'HUMAN TRAFFICKING','LEWD/LASCIVIOUS ACTS WITH CHILD':'CHILD','BIKE - ATTEMPTED STOLEN':'BIKE',                                                   
'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE':'HUMAN TRAFFICKING','CHILD PORNOGRAPHY':'CHILD','DISHONEST EMPLOYEE ATTEMPTED THEFT':'THEFT',                                                   
'FIREARMS RESTRAINING ORDER (FIREARMS RO)':'FIREARMS','VEHICLE - MOTORIZED SCOOTERS, BICYCLES, AND WHEELCHAIRS':'VEHICLE',                                                   
'FIREARMS TEMPORARY RESTRAINING ORDER (TEMP FIREARMS RO)':'FIREARMS'                                                   
})

In [119]:
DATE = []
for row in lapd2['DATE OCC']:
    x = row.split(' ',1)
    DATE.append(x[0])
lapd2.drop(columns ='DATE OCC')
DATE = pd.Series(DATE)
lapd2['DATE OCC'] = DATE

In [120]:
lapd2.to_csv(r'../crime_data/La_Cleaning.csv', index = False)

In [121]:
DATE = []
for row in lapd2['DATE OCC']:
    x = row.split('/')
    DATE.append(x[2])
DATE = pd.Series(DATE)
lapd2['YEAR'] = DATE
lapd2

,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status Desc,LAT,LON,YEAR
0,02/20/2010,1350,13,Newton,VIOLATION OF,48,M,H,SINGLE FAMILY DWELLING,NaN,Adult Arrest,33.9825,-118.2695,2010
1,09/12/2010,45,14,Pacific,VANDALISM,0,M,W,STREET,NaN,Invest Cont,33.9599,-118.3962,2010
2,08/09/2010,1515,13,Newton,OTHER MISCELLANEOUS CRIME,0,M,H,ALLEY,NaN,Invest Cont,34.0224,-118.2524,2010
3,01/05/2010,150,6,Hollywood,VIOLATION OF,47,F,W,STREET,HAND GUN,Invest Cont,34.1016,-118.3295,2010
4,01/02/2010,2100,1,Central,RAPE,47,F,H,ALLEY,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,34.0387,-118.2488,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111674,03/28/2019,400,6,Hollywood,ARSON,0,X,X,SEX ORIENTED/BOOK STORE/STRIP CLUB/GENTLEMAN'S...,FIRE,Invest Cont,34.0962,-118.3490,2019
2111675,08/14/2019,1810,7,Wilshire,THEFT,40,M,W,STREET,NaN,Invest Cont,34.0871,-118.3732,2019
2111676,01/06/2019,2100,20,Olympic,CRIMINAL THREATS - NO WEAPON DISPLAYED,46,F,B,SIDEWALK,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,34.0637,-118.2870,2019
2111677,10/16/2019,1800,17,Devonshire,THEFT,0,NaN,NaN,STREET,NaN,Invest Cont,34.2266,-118.5085,2019
2111678,02/01/2019,1615,8,West LA,BURGLARY,33,F,W,GARAGE/CARPORT,NaN,Invest Cont,34.0420,-118.4531,2019

In [126]:
j=0
arr=[]
for row in lapd2["YEAR"]:
    if int(row) > 2013 and int(row) < 2018:
         arr.append(j) 
          
    j+=1
    
arr = pd.Series(arr)
display(arr.min())
arr.max()

801531

1668547

In [141]:
lapd4 = pd.read_csv('../crime_data/Cleaned_La_Arrests.csv')

In [146]:
DATE = []
for row in lapd4['DATE OCC']:
    x = row.split('/')
    DATE.append(x[2])
DATE = pd.Series(DATE)
lapd4['YEAR'] = DATE

In [155]:
lapd4['Vict Sex'].unique()

array(['UNKNOWN', 'M', 'F', 'OTHER'], dtype=object)

In [152]:
lapd4['Vict Sex'] = lapd4['Vict Sex'].replace({'X':'OTHER', 'H':'OTHER'})

In [162]:
lapd4['Vict Descent'].fillna('UNKNOWN',inplace=True)

In [166]:
#lapd4.drop(columns=['AREA NAME'],axis=1,inplace=True)
lapd4.rename(columns={'AREA':'Fuck'},inplace=True)
lapd4

,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LAT,LON
0,07/05/2014,600,20,Olympic,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0427,-118.2916
1,08/04/2014,1430,1,Central,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0464,-118.2447
2,02/25/2014,1300,7,Wilshire,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0374,-118.3740
3,11/14/2014,2300,13,Newton,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0242,-118.2623
4,10/27/2014,1300,20,Olympic,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0608,-118.2860
...,...,...,...,...,...,...,...,...,...,...,...,...
865471,06/25/2017,445,16,Foothill,BURGLARY,42,M,H,NaN,Invest Cont,34.2261,-118.3783
865472,12/14/2017,900,14,Pacific,BURGLARY,30,F,B,NaN,Invest Cont,33.9345,-118.3785
865473,02/18/2017,540,20,Olympic,RAPE,4,F,H,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,34.0564,-118.2879
865474,08/11/2017,135,11,Northeast,VANDALISM,35,M,O,NaN,Invest Cont,34.1245,-118.2666
865475,08/16/2017,1625,3,Southwest,VANDALISM,57,F,B,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,34.0325,-118.3509

In [3]:
lapd4.to_csv(r'../crime_data/La_Cleaning.csv', index = False)

NameError: name 'lapd4' is not defined

In [8]:
lapd5 = pd.read_csv("../crime_data/Cleaned_La_Crime_Data.csv")
lapd5

,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LAT,LON
0,7/5/2014,600,Olympic,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0427,-118.2916
1,8/4/2014,1430,Central,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0464,-118.2447
2,2/25/2014,1300,Wilshire,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0374,-118.3740
3,11/14/2014,2300,Newton,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0242,-118.2623
4,10/27/2014,1300,Olympic,VEHICLE,0,UNKNOWN,UNKNOWN,NaN,Invest Cont,34.0608,-118.2860
...,...,...,...,...,...,...,...,...,...,...,...
865471,6/25/2017,445,Foothill,BURGLARY,42,M,H,NaN,Invest Cont,34.2261,-118.3783
865472,12/14/2017,900,Pacific,BURGLARY,30,F,B,NaN,Invest Cont,33.9345,-118.3785
865473,2/18/2017,540,Olympic,RAPE,4,F,H,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,34.0564,-118.2879
865474,8/11/2017,135,Northeast,VANDALISM,35,M,O,NaN,Invest Cont,34.1245,-118.2666
865475,8/16/2017,1625,Southwest,VANDALISM,57,F,B,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Invest Cont,34.0325,-118.3509

In [25]:
#lapd5['Vict Age'].replace({0:'UNKNOWN'})
lapd5.drop(columns=['Status Desc'],axis=1,inplace=True)

In [26]:
lapd5.head()

     DATE OCC  TIME OCC AREA NAME Crm Cd Desc Weapon Desc      LAT       LON
0    7/5/2014       600   Olympic     VEHICLE         NaN  34.0427 -118.2916
1    8/4/2014      1430   Central     VEHICLE         NaN  34.0464 -118.2447
2   2/25/2014      1300  Wilshire     VEHICLE         NaN  34.0374 -118.3740
3  11/14/2014      2300    Newton     VEHICLE         NaN  34.0242 -118.2623
4  10/27/2014      1300   Olympic     VEHICLE         NaN  34.0608 -118.2860

In [27]:
lapd5.to_csv(r'../Cleaned_La_Crime_Data.csv', index = False)